In [3]:
import numpy as np

In [4]:
import pandas as pd

https://pandas.pydata.org/docs/user_guide/text.html

In [6]:
email = 'jose@email.com'

In [12]:
email.split('@')

['jose', 'email.com']

In [13]:
email.isdigit()

False

In [8]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [9]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [11]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [14]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [15]:
tech_finance = ['Goog,Aplle,amzn','jpm,bac,gs']

In [16]:
len(tech_finance)

2

In [17]:
tickers = pd.Series(tech_finance)

In [21]:
tickers.str.split(',')

0    [Goog, Aplle, amzn]
1         [jpm, bac, gs]
dtype: object

In [22]:
tickers.str.split(',',expand=True)

      0      1     2
0  Goog  Aplle  amzn
1   jpm    bac    gs

In [19]:
tech = 'GOOG,APPL,AMZN'

In [20]:
tech.split(',')[0]

'GOOG'

In [23]:
messy_names = pd.Series(['andrew  ',"bo;bo","   claire  "])

In [24]:
messy_names

0       andrew
1          bo;bo
2       claire
dtype: object

In [29]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [32]:
def CleanUp(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [33]:
messy_names.apply(CleanUp)

0    Andrew
1      Bobo
2    Claire
dtype: object