In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
#help(pd.Series)

In [6]:
myindex = ['USA','CANADA','ENGLAND']

In [7]:
mydata = [1992,1887,1775]

In [11]:
myser = pd.Series(data=mydata,index=myindex)

In [12]:
myser

USA        1992
CANADA     1887
ENGLAND    1775
dtype: int64

In [13]:
type(myser)

pandas.core.series.Series

In [14]:
myser['USA']

1992

In [16]:
age = {'Sarthak':22,'Ankit':24,'Rishav':20}

In [17]:
pd.Series(age)

Sarthak    22
Ankit      24
Rishav     20
dtype: int64

In [18]:
q1 = {'Japan':80 , 'China':450 , 'India':200 , 'USA':250}

In [19]:
q2 = {'Brazil':100 , 'China':500 , 'India':210 , 'USA':260}

In [21]:
sales_q1 = pd.Series(q1)

In [22]:
sales_q2 = pd.Series(q2)

In [23]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [24]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [26]:
sales_q1['India']

200

In [27]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [28]:
sales_q1* 3

Japan     240
China    1350
India     600
USA       750
dtype: int64

In [29]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [30]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64