In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from datetime import datetime

In [4]:
myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15

In [10]:
mydatetime = datetime(myyear,mymonth,myday,myhour,mymin,mysec)

In [11]:
mydatetime

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [12]:
mydatetime.year

2015

In [13]:
myser = pd.Series(['Nov 3 , 1990','2000-01-01',None])

In [14]:
myser

0    Nov 3 , 1990
1      2000-01-01
2            None
dtype: object

In [15]:
myser[0].year

AttributeError: 'str' object has no attribute 'year'

In [16]:
pd.to_datetime(myser)

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [17]:
timeser = pd.to_datetime(myser)

In [18]:
timeser[0].year

1990

In [19]:
obvi_euro_date = '31-12-2000'

In [20]:
pd.to_datetime(obvi_euro_date)

C:\Users\aarav\AppData\Local\Temp\ipykernel_11916\163700324.py:1: UserWarning: Parsing '31-12-2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [21]:
euro_date = '10-12-2000'

In [23]:
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [24]:
style_date = '12--Dec--2000'

In [25]:
pd.to_datetime(style_date,format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [26]:
custom_date = "12th of Dec 2000"

In [27]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [28]:
sales = pd.read_csv('F:\\DataScience\\03-Pandas\\RetailSales_BeerWineLiquor.csv')

In [29]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [30]:
sales['DATE'] = pd.to_datetime(sales["DATE"])

In [31]:
sales['DATE'][0].year

1992

In [33]:
sales = pd.read_csv('F:\\DataScience\\03-Pandas\\RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [35]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [36]:
sales.set_index("DATE")

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [43]:
# sales.resample(rule='A').mean

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [40]:
sales = pd.read_csv('F:\\DataScience\\03-Pandas\\RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [41]:
sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64